body {
    background-image:url(../img/hero.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 20em 28em;
    font-family: 'Lato', sans-serif;
    color:#6B6B6B;
    line-height: 1.5rem;

  }
  
  ul{
    font-family: 'lato', sans-serif;
    line-height: 1.8em;
    font-size: 1.2em;
  }

  h1{
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
  }
  
  
  h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.7em;
    letter-spacing: .05em;
  }
  
  h3 {
    position: relative;
    color: 333333;
    font-family: 'lato', sans-serif;
    font-size: 1.1em !important;
    padding-top: 3%;
  }
  
  h4{
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    letter-spacing: .01px;
  }
  
  h5{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    letter-spacing: .01px;
    color:#7441FB;
  }
  
  
  .name{
    color:#7441FB;
  }
  
  
  p{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.01px;
    font-size: 1.2em;
    color:#6B6B6B;
  }
  
  img {
      width: 100%;
  }
  
.logo{
width: 130%;
}

  .moveup{
     margin-top:-80%;
  }   
  
.box{
    padding-left: 13%;
    padding-right: 13%;
  }

.upcoming{

    margin-left: 8%;
    margin-right: 8%;
 
}

.box:hover {
    transform: translateY(-3%);

      filter:drop-shadow(0px 5px 17px #B5BDE4);
  }

    
  @media only screen and (max-width: 1200px){

    body{
      background-position: 12em 36em;
    }

    .moveup{
      margin-top:-80%;
      padding-left: 10%;
   }
.card{
  margin-left: 12%;
}
   .weekly{
    padding-left: 10%;
   }
  }

  @media only screen and (max-width: 992px){

  body{
      background-position: 12em 36em;
    }

  p{
  font-size: 0.8em;
}
    .moveup{
      margin-top:-80%;
      margin-left:0%;
   }

   .weekly{
    padding-left: 0%;
    margin-left:0%;
    max-width: 100% !important;
   }

   .moveup{
    padding-left: 0%;
   }

   .upcoming{
    padding-left: 0%;
    margin-top:20%;
   margin-left: 0%;
   margin-right: 0%;
}
}

  
@media only screen and (max-width: 768px) {

    h1 {
      font-size:1.8em;
    }

    .card{
      margin-top: 20%;
      margin-left: 0%;
      left:5%;
    }

    .moveup{
      margin-top:-130%;
      margin-bottom:4%;
      padding-left: 0%;
   }

   .weekly{
     padding-left:0%;
   }

   p{
    font-size: 1.2em;
  }

  .upcoming{
    padding-left: 0%;
    margin-bottom: 40%;
  }
  }
  
  @media only screen and (max-width:368px){

    p{
      font-size: .8em;
    }
    
  
  }